* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --colorFuente: #50FF00;
    --modoOscuro: #020202;
    --bgBotones: #30333F;
    --textoModoOscuro: #FFF;
}
body {
    background-image: url("assets/dark-mode.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}
/* Header */
header{
    background-color: var(--modoOscuro);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: var(--textoModoOscuro);
    text-transform: uppercase;
    text-align: center;
}
header .nav-buttons ul {
    display: flex;
    list-style: none;
    gap: 20px 
}
header .btn, header .btn-image, header .btn-text {
    color: var(--colorFuente);
    width: 120px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; 
    background-color: var(--modoOscuro);
}
header .btn:hover {
    transform: scale(1.1);
    background-color: var(--bgBotones);
    box-shadow: 0px 4px 20px 4px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 4px 20px 4px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 4px 20px 4px rgba(255,255,255,0.75);
}
.fa-solid {
    margin: 5px;
}
/* Main */
main {
    color: var(--colorFuente);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.canvas-meme {
    height: 450px;
    width: 650px;
}
.canvas-meme .image-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
    background-color: rgb(153, 148, 148);
    min-height: 20%;
}
.canvas-meme .image-meme {
    background-color: var(--modoOscuro);
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dowloand-button{
    color: var(--colorFuente);
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 25px; 
    background-color: var(--modoOscuro);
}
.dowloand-button:hover {
    transform: scale(1.1);
    background-color:  var(--bgBotones);
    box-shadow: 0px 4px 20px 4px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 4px 20px 4px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 4px 20px 4px rgba(255,255,255,0.75);
}

/* Aside */
.close-image-panel, .close-text-panel {
    font-size: 20px;
    font-weight: bold;
    width: 20px;
    background-color: #50FF00;
    border-radius: 30%;
    border: none;
}
.hidden {
    display: none;
}
.panel-color {
    display: flex;
    justify-content: space-between;
}
.form-control {
    display: flex;
    align-items: center;
    width: 48%;
    border: none;
    background-color: gray;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
}
.form-control span {
    font-size: 14px;
    margin-left: 10px;
}
.input-color span {
    font-size: 14px;
}
.select {
    width: 48%;
    border: none;
    background-color: gray;
    padding: 8px;
    border-radius: 5px; 
    margin-top: 10px;
}
.options {
    width: 100%;
    background-color: gray;
    border: none;
    outline: none;
    color: var(--textoModoOscuro);
}
aside {
    background-color: rgb(48, 48, 63, 0.8);
    width: 270px;
    height: 100vh;
    color: var(--textoModoOscuro);
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
}
form h2 {
    text-align: center;
    font-size: 18px;
}
form{
    margin: 0 10px;
}
.url {
    display: flex;
    flex-direction: column;
}
.url input {
    border: none;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.form-label {
    font-size: 12px;
    font-weight: 500;
}
.form-input {
    accent-color: #6ac041;
}
.filters{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image-url, .form-label-fondo, h3 {
    margin: 15px 0;
    font-size: 16px;
}

/* Aside texto*/
.higher, .lower {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}
.form-input-text{
    border: none;
    background-color: gray;
    padding: 3px;
    border-radius: 5px;
    outline: none;
} 
.form-check {
    font-size: 12px;
}
.form-font {
    display: flex;
}
.font{
    margin: 10px 0;
    width: 100%;
    height: 30px;
}
.form-size {
    border: none;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    width: 45%;
    outline: none;
}
.size-font {
    display: flex;
    gap: 20px;
}
.align-txt i {
    font-size: 20px;
}
.cont-color {
    display: flex;
    gap: 10px;
    margin: 10px 0 0;
}
.input-color {
    background-color: gray;
    border: none;
    padding: 8px 19px 8px 8px;
    border-radius: 5px;
    margin: 10px 0;
}
.outline, .spacing, .line-spacing {
    margin: 5px 0;
}
.btn-contorno button {
    border: none;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    width: 31%;
    outline: none;
    margin: 10px 0;
}
.form-spacing, .form-line-spacing {
    border: none;
    background-color: gray;
    padding: 10px 60px 10px 10px;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}
/* Estilo input redondo*/
input[type="color"] {
    /* -webkit-appearance: none; */
    /* appearance: none; */
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }
.panel{
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.reseat-filters {
    color: var(--colorFuente);
    width: 160px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px; 
    background-color: var(--modoOscuro);
}
.reseat-filters:hover {
    background-color:  var(--bgBotones);
    box-shadow: 0px 4px 20px 4px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 4px 20px 4px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 4px 20px 4px rgba(255,255,255,0.75);
}

/* Modo claro / Modo oscuro */
.lightMode, 
.lightMode h1 {
    background-color: rgba(238,250,238,0.7);
    color: var(--modoOscuro);
}
.lightMode2 {
    background-color: #F2F2F2;
    background-image: url("assets/light-mode.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.lightModeAside{
    background-color: rgba(235, 249, 235, 0.7);
    color: var(--modoOscuro);
}

/* Media queries */
@media (max-width:680px){
    .canvas-meme {
        height: 600px; 
        width: 450px;
        margin-top: 30px;
    }
    .canvas-meme .image-text {
        padding-top: 20px;
        height: 15%;
    }
    .canvas-meme .image-meme {
        height: 70%;
    }
    .dowloand-button {
        margin-top: 90px;
    }
}
@media (max-width:490px){
    .canvas-meme {
        height: 400px;
        width: 320px;
        margin-top: 20px;
    }
    h1 {
        font-size: 20px;
    }
    .canvas-meme .image-text {
        font-size: 35px;
        padding-top: 10px;
    }
    header .btn {
        width: 100px;
        font-size: 11px;
    }
    header .nav-buttons ul {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px 
    }
    aside {
        width: 320px;
    }
}
@media (max-width:350px){
    .canvas-meme {
        height: 320px;
        width: 260px;
    }
    .canvas-meme .image-text {
        font-size: 30px;
    }
}